In [13]:
#Bibliotecas a trabaçhar
import pandas as pd
%%capture
!pip install tpot
import pandas as pd
from tpot import TPOTRegressor

UsageError: Line magic function `%%capture` not found.

In [12]:
iex_demo_bancarios.to_csv('ag_demo_2014_2020.csv')

NameError: name 'iex_demo_bancarios' is not defined

In [106]:
#Abrir banco de dados age
iex = pd.read_csv("iex_inep_2015_2020.csv", sep=";")

In [107]:
iex.dtypes

CNPJ                     int64
AN_EXERCICIO             int64
ST_ATUALIZADA            int64
IEX                     object
CO_MUNICIPIO_IBGE.x    float64
CO_ESCOLA                int64
ESFERA                  object
dtype: object

In [108]:
iex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652216 entries, 0 to 652215
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CNPJ                 652216 non-null  int64
 1   AN_EXERCICIO         652216 non-null  int64
 2   ST_ATUALIZADA        652216 non-null  int64
 3   IEX                  652216 non-null  object
 4   CO_MUNICIPIO_IBGE.x  652210 non-null  float64
 5   CO_ESCOLA            652216 non-null  int64
 6   ESFERA               652216 non-null  object
dtypes: float64(1), int64(4), object(2)
memory usage: 34.8+ MB

In [109]:
#Converter CO_MUNICIPIO para inteiro
iex['CO_MUNICIPIO_IBGE.x'] = iex['CO_MUNICIPIO_IBGE.x'].astype('Int64')

In [110]:
iex.describe()

,CNPJ,AN_EXERCICIO,ST_ATUALIZADA,CO_MUNICIPIO_IBGE.x,CO_ESCOLA
count,6.522160e+05,652216.000000,652216.000000,652210.0,6.522160e+05
mean,1.556720e+13,2018.561696,0.971913,3111088.82149,3.111054e+07
std,2.198697e+13,2.116626,0.165222,974559.23424,9.715807e+06
min,4.900014e+07,2015.000000,0.000000,1100015.0,1.100002e+07
25%,2.327919e+12,2016.000000,1.000000,2403251.0,2.402558e+07
50%,7.492923e+12,2020.000000,1.000000,3132503.0,3.114665e+07
75%,1.670806e+13,2020.000000,1.000000,3550308.0,3.544804e+07
max,9.859586e+13,2020.000000,1.000000,5300108.0,5.306824e+07

In [111]:
#Apagamos a coluna tamanho do município
demo = pd.read_csv("ag_demo_2014_2020_m.csv", sep=";")

In [112]:
demo

       CO_MUNICIPIO  regiao  cod_uf  pop_muncipio   ano  possui_agencia_BB
0           1100015       1      11         25652  2014                  1
1           1100023       1      11        102860  2014                  1
2           1100031       1      11          6424  2014                  1
3           1100049       1      11         86556  2014                  1
4           1100056       1      11         18013  2014                  1
...             ...     ...     ...           ...   ...                ...
38985       5222005       5      52         13977  2020                  1
38986       5222054       5      52          8873  2020                  1
38987       5222203       5      52          6312  2020                  0
38988       5222302       5      52          5882  2020                  0
38989       5300108       5      53       3055149  2020                  1

[38990 rows x 6 columns]

In [113]:
########################
##Realizando o Merge
#######################

##Renomear colunas
iex.rename (columns={'AN_EXERCICIO: ano})
iex

In [114]:
##Renomear colunas
#Criar 
iex.rename(columns={'AN_EXERCICIO': 'ano', 'CO_MUNICIPIO_IBGE.x': 'CO_MUNICIPIO'}, inplace = True)

In [115]:
#Criar coluna ano_COD_MUNICIPIO
demo['ano_COD_MUNICIPIO'] = demo['ano'].astype(str)+demo['CO_MUNICIPIO'].astype(str)
iex['ano_COD_MUNICIPIO'] = iex['ano'].astype(str)+iex['CO_MUNICIPIO'].astype(str)

In [116]:
iex

,CNPJ,ano,ST_ATUALIZADA,IEX,CO_MUNICIPIO,CO_ESCOLA,ESFERA,ano_COD_MUNICIPIO
0,49000144,2015,1,8.356.554.441,3550308,35075577,MUNICIPAL,20153550308
1,304000159,2015,1,10,3550308,35062807,MUNICIPAL,20153550308
2,16130000112,2015,1,10,3526902,35074962,MUNICIPAL,20153526902
3,26034000155,2015,1,10,3512001,35076090,MUNICIPAL,20153512001
4,28175000107,2015,1,10,5210406,52096564,MUNICIPAL,20155210406
...,...,...,...,...,...,...,...,...
652211,97551810000178,2020,1,0,3140506,31224871,MUNICIPAL,20203140506
652212,97552446000160,2020,1,9.958.901.494,3106705,31349585,MUNICIPAL,20203106705
652213,97552912000108,2020,1,2.506.150.302,1507607,15096912,MUNICIPAL,20201507607
652214,97553564000193,2020,1,9.945.694.426,3161403,31220124,MUNICIPAL,20203161403
652215,98595861000164,2020,1,9.954.593.232,4322608,43165311,ESTADUAL,20204322608

In [117]:
demo['ano_COD_MUNICIPIO']

0        20141100015
1        20141100023
2        20141100031
3        20141100049
4        20141100056
            ...
38985    20205222005
38986    20205222054
38987    20205222203
38988    20205222302
38989    20205300108
Name: ano_COD_MUNICIPIO, Length: 38990, dtype: object

In [118]:
##REalizar o merge com a chave "CO_MUNICIPIO" e ano, y= iex, x= demo. left
iex_demo_bancarios = iex.merge(demo, how= 'left', left_on = 'ano_COD_MUNICIPIO', right_on= 'ano_COD_MUNICIPIO')

In [119]:
iex_demo_bancarios

,CNPJ,ano_x,ST_ATUALIZADA,IEX,CO_MUNICIPIO_x,CO_ESCOLA,ESFERA,ano_COD_MUNICIPIO,CO_MUNICIPIO_y,regiao,cod_uf,pop_muncipio,ano_y,possui_agencia_BB
0,49000144,2015,1,8.356.554.441,3550308,35075577,MUNICIPAL,20153550308,3550308.0,3.0,35.0,11967825.0,2015.0,1.0
1,304000159,2015,1,10,3550308,35062807,MUNICIPAL,20153550308,3550308.0,3.0,35.0,11967825.0,2015.0,1.0
2,16130000112,2015,1,10,3526902,35074962,MUNICIPAL,20153526902,3526902.0,3.0,35.0,296440.0,2015.0,1.0
3,26034000155,2015,1,10,3512001,35076090,MUNICIPAL,20153512001,3512001.0,3.0,35.0,18245.0,2015.0,1.0
4,28175000107,2015,1,10,5210406,52096564,MUNICIPAL,20155210406,5210406.0,5.0,52.0,38324.0,2015.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652211,97551810000178,2020,1,0,3140506,31224871,MUNICIPAL,20203140506,3140506.0,3.0,31.0,13443.0,2020.0,1.0
652212,97552446000160,2020,1,9.958.901.494,3106705,31349585,MUNICIPAL,20203106705,3106705.0,3.0,31.0,444784.0,2020.0,1.0
652213,97552912000108,2020,1,2.506.150.302,1507607,15096912,MUNICIPAL,20201507607,1507607.0,1.0,15.0,59632.0,2020.0,1.0
652214,97553564000193,2020,1,9.945.694.426,3161403,31220124,MUNICIPAL,20203161403,3161403.0,3.0,31.0,4800.0,2020.0,0.0
652215,98595861000164,2020,1,9.954.593.232,4322608,43165311,ESTADUAL,20204322608,4322608.0,4.0,43.0,71973.0,2020.0,1.0

In [120]:
iex_demo_bancarios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652216 entries, 0 to 652215
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CNPJ               652216 non-null  int64
 1   ano_x              652216 non-null  int64
 2   ST_ATUALIZADA      652216 non-null  int64
 3   IEX                652216 non-null  object
 4   CO_MUNICIPIO_x     652210 non-null  Int64
 5   CO_ESCOLA          652216 non-null  int64
 6   ESFERA             652216 non-null  object
 7   ano_COD_MUNICIPIO  652216 non-null  object
 8   CO_MUNICIPIO_y     652210 non-null  float64
 9   regiao             652210 non-null  float64
 10  cod_uf             652210 non-null  float64
 11  pop_muncipio       652210 non-null  float64
 12  ano_y              652210 non-null  float64
 13  possui_agencia_BB  652210 non-null  float64
dtypes: Int64(1), float64(6), int64(4), object(3)
memory usage: 75.3+ MB

In [123]:
iex_demo_bancarios.to_csv('iex_demo_bancarios_2015_2020.csv')

Bibliotecas importantes

import urllib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import PIL

from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder

from sklearn import set_config; set_config(display='diagram')

Compress Data

In [ ]:
#Force an optimal dtype directly at loading time to minimize RAM
DTYPES_RAW_OPTIMIZED = {
    "": "O",
    "": "float32",
    "": "int8"
}

df = pd.read_csv(DATA_URL, dtype=DTYPES_RAW_OPTIMIZED)
df.info()

Visualize Data

In [ ]:
# Plot histogram
plt.xlabel('xx')
plt.title('Histogram')

Baseline Score  - Preliminary Intuitions

In [ ]:
from scipy.stats import pearsonr
pearson, p_value = pearsonr(df['x'], df['y'])
print(f'{pearson=}')
print(f'{p_value=}')

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

Preprocessing

In [ ]:
X = df.drop("iex", axis=1)
y = df[["iex"]]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
sns.histplot(df.x)

In [ ]:
#Fit x
pd.DataFrame(preprocessor.fit_transform(X_train))